# Eclipse
/.metadata/
/.settings/
/.project
/.classpath

# Build
/bin/
/target/
/build/

# Tomcat / Servers
/Servers/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db




# Db configuration file
src/main/java/com/denkolochi/configuration/DbConstConfig.java