.option-card{
    cursor:pointer;
    transition:.3s;
    border:1px solid #E5E7EB;
}

.option-card:hover{
    transform:translateY(-2px);
    border-color:#2E9E3E;
}

.progress{
    height:12px;
    border-radius:20px;
}

.progress-bar{
    border-radius:20px;
}

.card{
    border-radius:20px;
}

.btn-success{
    background:#2E9E3E;
    border:none;
}

.btn-success:hover{
    background:#258734;
}